*{
    margin: 0%;
    padding: 0%;

}
ul,
ol{
    list-style: none;
    color: none;
}
a{
    text-decoration: none;
    color: black;
}

/* -------------------header-------------------- */
header{
    background-color: rgb(73, 238, 169);
    padding:3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.imagen{
    background-color: blue;
    height: 500px;
    background-image: url(../img/oversize.webp);
    background-position: center;
    background-size: cover;
}


.nav-lis{
    display: flex;
    font-size: 1.5rem;
    gap: 40px;
    color: white;
    
}
/* -----------------article------------------- */
article{
    display: flex;
    padding: 5%;
    gap: 20%;
    font-size: 1.5rem;
}
.etiqueta-1{
    display: flex;
    border-style:double;
    background-color: rgba(100, 148, 237, 0.418);
}
.etiqueta-2{
    display: flex;
    border-style:double ;
    background-color: rgba(100, 148, 237, 0.418);
}
.etiqueta-3{
    display: flex;
    border-style: double;
    background-color: rgba(100, 148, 237, 0.418);
}

/* ------------------footer--------------------- */
footer{
    background-color: rgb(151, 151, 151);
    padding: 3%;
    display:flex;
    justify-content: space-around;
    align-items: center;
  
    
}
titulo-2{
    display: flex;
    align-items: center;
    
}
.footer-list{
    display:table-row;
}
/* ---------------seccion remeras-------------------- */
.main{
    display: flex;
    justify-content: space-around;
}

.productos{
    width: 300px;
    height: 565px;
    background-image:url(../img/Remera-negra-oversize-.jpg) ;
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    border-radius: 20px;
}
.tarjeta-cuerpo{
    width: 100%;
    height:40% ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding-top: 135%;
}

.productos-2{
    width: 300px;
    height: 565px;
    background-image:url(../img/remera-hades-negra.webp) ;
    background-position: center;
    background-size: cover;
    border:3px solid black;
    border-radius: 20px;
}

.tarjeta-cuerpo2{
    width: 100%;
    height:40% ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding-top: 135%;
}


.productos-3{
    width: 300px;
    height: 565px;
    background-image:url(../img/remera-oversize-blanca.jpg) ;
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    border-radius: 20px;
    padding-top: 2%;
    padding: 0% 0%;
}

.tarjeta-cuerpo3{
    width: 100%;
    height:40% ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding-top: 135%;
   
}

/* -----------------------btn------------------- */
/* .btn{
background-color:cadetblue ;
padding: 10px 8px;
border-radius: 6px;
} */

/* ----------------MOBILE-------------------- */

@media(max-width: 480px){ 

.body{
    padding: 10px;
}
/* --------------header mobile--------------------- */
    .header{ 
        justify-content:center;
        display: block;
        text-align: center;
        padding: 15px;
    }
.nav-lis{
    display: none;
    display: block;
    text-align: center;
    padding:20px;
}

.serch-bar{
    display:none
}

.nav-enlaces{
    text-align: center;
    font-size: 1.4rem;
    padding: 4px;
}
.imagen{
    width: 100%;
}
.etiqueta-2{
    display: none;
}
.etiqueta-3{
    display: none;
}
.etiqueta-1{
    display: flex;
    text-align: center;
}

.titulo-2{
    display: block;
    padding: 5px;
}
/* --------------footer mobile------------------ */
.footer-list{
    display: block;
    text-align: center;
    justify-content: end;
    padding: 5px;
}
/* ------------------------seccion remeras-------------------- */
.barra-busqueda{
    display: none;
}
.titulo-remeras{
    display: flex;
    justify-content:center;
    padding: 15px;
}



.main{
    display:block;
    justify-content: center;
    align-items: center;
}

.contacto2{
    display:none;
}
.span{
    display: none;
}
.footer-list2{
    display: block;
    text-align: center;
    justify-content: end;
    padding: 5px;

}
}
